*,
*::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #ceba85 0%, #fde79e 100%);
}

h3 {display: block;
   font-size: xx-large;
   font-family: fantasy;
}
img {
  width: 100%;
  border-radius: 5%;
}
img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.03);
  transition: 1s;
}
.img2 {
  width: 100%;
  border-radius: 100%;
}
h2 {
  display: flex;
  justify-content: center;
}

.qvast {
  text-decoration: none;
}
